
h1 {
    display: flex;
    text-align: center;
    font-size: 3em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

body {
    display: flex;
    background-color: #ccc;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
}

#navbar {
    border: 3px solid;
    border-radius: 20px;
    margin: 35px;
    padding: 20px;
}