body {
    padding-bottom: 65px;
    padding-top: 65px;
    background-color: #ccc;
    margin: auto;
    max-width: 600px;
}

#logo-picture {
    height: 30px;
}

.sticky-offset {
    top: 56px;
}

.fixed-bottom-600px {
    margin: auto;
    max-width: 600px;
}
